#div1 {
    width: 200px;
    height: 200px;
    background-image: url(Tux.png);
    border-radius: 100px;
    background-size: 200px;
}
@media only screen and (max-width: 500px) {
    #div1{
        width: 100px;
        height: 100px;
        background-image: url(Tux.png);
        border-radius: 50px;
        background-size: 150px;
        background-position: -25;
        box-shadow: 2px 2px #bababa;
    }
}